.nav {
  margin-top: 80px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.35s -webkit-transform ease;
  transition: 0.35s -webkit-transform ease;
  transition: 0.35s transform ease, 0.35s -webkit-transform ease;
  padding: 10px 20px 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.nav.isActive {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav.scroll {
  margin-top: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu {
  margin: 0;
}

.menuElement {
  text-align: center;
  border-top: 1px solid #f2f2f2;
  text-transform: capitalize;
}

.menuElementLink {
  padding: 15px 20px;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  display: block;
  color: black;
}

.menuBottomWrapper {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuBottomContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menuBottomLink {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

.text {
  font-size: 0.9rem;
}

.favorite {
  font-size: 0.72rem;
  margin-top: -8px;
  margin-left: 1px;
  font-weight: 500;
}
