.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 48%;
  flex: 0 0 48%;
  margin: 0 0 30px 0;
  height: 100%;
  padding: 0;
  transition: 0.3s;
  position: relative;
  max-width: 460px;
}

.productLink {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.productImageContainer {
  margin: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-height: 575px;
}

.pictureWrapper {
  position: relative;
}

.pictureWrapper.hide {
  display: none;
}

.pictureWrapper.isActive {
  display: block;
}

.pictureContainer {
  width: 100%;
  height: 100%;
  min-width: 158px;
  min-height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  max-width: 460px;
  transition: 0.7s;
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.secondaryImage {
  position: absolute;
  top: 0;
  left: 0;
}

.productDescriptionContainer {
  position: unset;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5em 12px 15px;
  display: flex;
  width: 100%;
}

.availableColors {
  display: flex;
  flex-wrap: wrap;
}

.colorContainer {
  height: 19px;
  width: 19px;
  margin-right: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 100%;
  border: 1px solid transparent;
}

.colorContainer.isActive {
  border: 1px solid #000;
  transition: 0.7s;
}

.color {
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.color.rosegold {
  background: #e5ae87;
}

.color.silver {
  background: #c1c1c1;
}

.color.gold {
  background: #e3c86d;
}

.favorite {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}

.favoriteImageContainer {
  height: 18px;
  width: 18px;
  display: block;
}

.productDescription {
  width: 100%;
}

.productName {
  width: 100%;
  padding: 0;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.productPrice {
  width: 100%;
  margin-top: -4px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 525px) {
  .productContainer {
    margin: 0 0 50px 0;
  }
}

@media screen and (min-width: 768px) {
  .productContainer {
    width: 32%;
    flex: 0 0 32%;
    margin: 0;
  }

  .productDescriptionContainer {
    position: relative;
    justify-content: space-between;
    padding: 17px 10px 25px 10px;
  }

  .colorContainer {
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }

  .color {
    width: 14px;
    height: 14px;
  }

  .favorite {
    padding: 17px 10px 25px 10px;
  }

  .productName {
    padding: 8px 0 0 0;
  }
}
