.headerSwipe {
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  z-index: 99991;
  left: 0;
  top: inherit;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.swipeWrap {
  overflow: hidden;
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10000px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.notification {
  float: left;
  width: 100vw;
  position: relative;
  text-align: center;
  line-height: 36px;
  height: 40px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  flex-wrap: wrap;
  align-items: center;
}

.notification.showMore {
  height: 100px;
  transition: 0.7s;
}

.text {
  cursor: context-menu;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  line-height: 1.4;
  justify-content: center;
}

.text.opened {
  width: 80vw;
}

.notificationLink {
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  justify-content: center;
  color: white !important;
  text-decoration: underline;
  margin: 0 4px;
  height: 20px;
}

.notificationLink:hover {
  color: white;
}

.arrow {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  background: #000000;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrowIcon {
  width: 12px;
  height: 12px;
}

.arrowIcon.showMore {
  transform: rotate(45deg);
}

@media screen and (min-width: 1024px) {
  .arrow {
    width: 60px;
  }
}
