html {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body {
  width:100%;
  max-width:100%;
	margin:0;
	color:#000000;
	font-family:'Open Sans', sans-serif;
	line-height:1.8;
}

*, ::after, ::before {
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
}

h1, h2, h3, h4, h5, h6 {
	color:#000000!important;
	font-family:'Open Sans', sans-serif;
	line-height:1.3;
	font-weight:500;
	margin:0 0 20px;
}

h1 {
	font-size:2.5rem;
}

h2 {
	font-size:2.25rem;
}

h3 {
	font-size:1.75rem;
}

h4 {
	font-size:1.5rem;
}

h5 {
	font-size:1.313rem;
}

h6 {
	font-size:1.125rem;
}

a {
	text-decoration:none;
}

ul {
	list-style:none;
}

figure {
	margin:0!important;
}

p {
	margin-top:0;
	margin-bottom: 1.6em;
}

bdi {
	font-weight:400!important;
}

hr {
  border:0;
  height:1px;
  margin-bottom:1.5em;
}

ol, ul {
  margin:0;
  padding:0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
